language: python

python:
  - "3.6.2"

services: postgresql

install:
  - pip install -r requirements.txt

env:
  - DATABASE_URL=postgres://postgres@localhost:5432/test_app_database

before_script:
  - psql -c "CREATE DATABASE test_app_database;" -U postgres
  - ./manage.py migrate

script:
  - coverage run ./manage.py test && coveralls

deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app_name: $HEROKU_APP_NAME